.hero{
    margin: 0 auto;
    text-transform: uppercase;
    width: 330px;
    height: 300px;
    padding-top: 80px;
    text-align: center;   
    background-image: url("/images/8001009938.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

.hero__title{
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    padding: 40px;
    color: aliceblue;
}